Shell {
        swt-background-mode: default;
	background-color: red orange yellow green orange 30% 60% 75% 95%
}

.MPartStack {
	font-size: 22px;
	color:orange;
}	

.MPart:selected {
   visible:gone;
   background-color:red;
}

.MPartStack {
	border-visible:false;
	swt-maximize-visible: false;
    swt-minimize-visible: false;
}

